@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap');

.arboxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:2vh;
}

.arbox{
   
    padding: 10vh;
    font-size: 2vh;
    border: white solid 1px;
    border-radius: 3%;
    margin:1%;
    background-color: rgba(247, 247, 247, 0.788); 
    h1{
        color:rgb(10, 119, 37);
    }
}