@media only screen and (max-width: 641px) {

.checkbtn {
    display:block;
}

body {
    .footer{
        .socials{
            padding: 10px 10px;
        }
        .socials2 a
        {
            font-size: 15px;
            margin-right: 10px; 
        }
    }

    //popup
    .popup{
        width:300px;
        padding:20px 20px;
        .hourlist{
            li{
                width:100px;
                padding: 22px;
                cursor:pointer;
                margin:3px;
                font-size:18px;
            }
        } 
    }

    .bottom {
        display:flex;

        //index container
        .container{  
            margin-top:5%;
            grid-template-columns: none;
            grid-gap: 0;
            grid-template-rows: 1fr;
            padding-bottom:20px;
            .home-text h1{
                font-size: 20px;
                padding: 10px;
                display: table;
                background-color: #ffffffbe;
                margin: 0px auto 0px auto; /* keep the table centered */
                border-radius: 10px;
                margin-top:20px;
            }
            .pf{
                width: 60%;
            }
        }
 
        .container-left {
            margin-top: 0;
            padding: 5px;
            margin-left: 0;
            justify-content: center;
            display: flex;
        }
        #p1{
        font-size:17px;     
        }  
        #p2{
            font-size:17px;
        }
        .quote{
            margin: 1em;
            overflow: hidden;
            blockquote{
            background-color: #fff;
            border: solid 1px green;
            border-radius: 10px;
            display: inline-block;
            margin: 0;
            padding: 10px;
            position: relative;
            }
        }

        //contact

        .contact{
            padding:5px;
            padding-top: 3%;
            grid-template-columns: none;
            border: white solid 1px;
            background-color: rgba(255, 255, 255, 0.5); 
            border-radius:15px;
            .contact-left{
                overflow: hidden;
                position:relative;
                border-bottom:white solid 1px; 
                background-color: rgba(255, 255, 255, 0.5); 
                border: radius 0;;
                margin-left:0;
                padding:5px; 
                margin-right:-30%; 
                h1{
                    font-size: 17px;
                }
                .ask{
                    font-size:15px;             
                }
                p{
                    font-size:15px;   
                    padding:0; 
                    text-align: justify;   
                }
                .mail{
                    overflow-wrap: break-word;   
                }
                .socials{
                    a {
                        font-size: 15px;
                        padding-bottom:10px;
                        display:none;
                    }
                }
                
            }
            .contact-right{
                padding:7px;        
                border-radius:15px;
                background-color: rgba(255, 255, 255, 0.5); 
                margin-right:-20%;
                form
                    {
                    width: 80%;
                    font-size: 15px;
                    }
                form input, form textarea
                    {
                        padding: 5px 5px;  
                    }
           }
        }

        //about

        .about-container{
            border: white solid 1px;
            background-color: rgba(247, 247, 247, 0.788); 
            border-radius:15px;
            padding: 2px 2px;
            grid-template-columns: none;
            text-align: center;
            justify-content: center;
            #about-img{
                display:none;
                margin:0;
                justify-content: center;
                align-items: center;
            }
            .about-text{ 
                font-size:20px;
                padding:0px; 
                text-align: justify;
                width: 100%;
            }   
            #imgcut{
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .box2 {
            padding:1px;
            margin:0;
        }

        //calendar
        
        .calendar{
            width:100%;   
            padding:20px;
        }
        .calendar-weeks-days{
            font-size: medium;
            justify-content: space-evenly;
        }
        .calendar-days{
            grid-template-columns: repeat(7,47px);
            grid-auto-rows: minmax(50px, 50px);
            font-size: medium;
        }
        .calendar-days div{
            width: 30px;
            height: 33px;
            align-items: center;
            padding: 3px;  
        }
        .format{
            font-size: 1.3rem;
            padding-right: 10px;
            left: -1rem;
        }
        .clock{
            font-size: 1.3rem;
            padding-bottom: 5px;
        }
        .date-format{
            font-size: 1rem;
        
        }
        .time-value{
            left: 60%;
            top: -33px;
        }


        //services

        .services{
            display:none;
        }
        .servicesGallery{
            display:none;
            img{
                display:hidden;
            }
        }
        .servicestxt{
            padding:10px;
            border-bottom:none;
            .box{
                border: white solid 1px;
                background-color: rgba(255, 255, 255, 0.5); 
                border-radius:15px;
                padding: 5px 10px;
            }
            p{
                font-size:20px;
                line-height: 2em;
                text-align: justify;
            }
        
        }       
}

//End of bottom

.navigation {
    background-color: green;
    border:0;
}

.quote {
    width:fit-content;  
}

.logo {
    display:none;
}


//menu

    .menu {
        display:inline-block;
        background-color: green;
        width:100% ;
        margin:0;
        padding:0;     
    }    

    .menu ul {
        display: none; 
        float:left;
        padding: 5%;
    }

    .menu ul li {
        width: 100%;
        padding: 20px;
        text-align: right;
        float:right; 
    }

    .menu ul li a {
        color:white;
        padding: 20px 20px;
        text-align: center;
        border-top:1px #5a695b solid;
    }

    .search {
        display:none;
    }
    .menu ul li a:hover:after{
        width:0; 

    }
    .menu ul li a:hover{
        background-color: rgb(4, 77, 52);
        border-radius: 5%;
        width:max-content;
    }
    .menu ul li:first-child a {
        border-top: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}

//end of menu

}

