@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap');


.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    overflow:hidden;
    text-align: center;
    width:100%;
}
.servicesGallery{
    cursor: pointer;
    overflow: hidden;
    flex-grow: 1;
    flex: 50%;
    box-sizing: content-box;
    justify-content: center;
    text-align: center;
    height: fit-content;
    display:block;
    position: relative;
    img{
        
        width: 100%;
        height: 100%;
        max-height: 460px;
        transition-duration: .3s;
        justify-content: center;
        text-align: center;
        display:block;
        overflow:hidden;
        cursor:pointer;
        box-sizing: content-box;
        
    }
    .title{
        position:absolute;
        display:block;
        cursor:pointer;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        text-shadow: 1px 5px 10px black;
        transition-duration: .3s;
        color: white;
        background-color: rgba(149, 149, 150, 0.116);
   }
    .text{
        position:absolute;
        top: 55%;
        cursor:pointer;
        max-width: 80%;
        text-align:center;
        left: 50%;
        text-shadow: 1px 5px 10px black;
        font-size: 20px;
        display:none;
        margin-right: -50%;
        transition-duration: .3s;
        transform: translate(-50%, -50%);
    }
}


.servicesGallery:hover img{
    transform: scale(1.2);
    transition-duration: .3s;
}
.servicesGallery:hover span{
  color:white;
  display: inline-block;
  transition-duration: .3s;
  background-color: rgba(149, 149, 150, 0.116);

}

.servicestxt{
    padding:30px;
    border-bottom: solid  rgba(10, 119, 37, 0.582) 2px;
   
        .box{
            border: white solid 1px;
            background-color: rgba(255, 255, 255, 0.5); 
            border-radius:15px;
            padding: 20px 50px;
        
        }
         p {font-size:20px;
          height: fit-content;
          line-height: 2em;
            }

}       