@media only screen and (min-width: 641px) and (max-width:1024px) {


.bottom{
    .container{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr; /* two-column layout, and each column takes up 1 fraction*/
    grid-gap: 20px;
    bottom: 0;
        .home-text h1{
            font-size: 3vh;
            padding: 20px;
            display: table;
            background-color: #ffffffbe;
            margin: 0px auto 0px auto; /* keep the table centered */
            border-radius: 10px;
            margin-top:20px;
        }
        .pf{
            width: 90%;
        }
        
    }
    .container-left {
        margin-left:30px;
    }
    #p1{
       font-size:2.3vh;     
    }   

    #p2{
         font-size:2.2vh;
     }

    .quote{
        margin: 1em;
        overflow: hidden;
        blockquote{
           background-color: #fff;
           border: solid 1px green;
           border-radius: 10px;
           display: inline-block;
           padding: 20px;
           position: relative;
        }
    }

    .calendar-container{
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%,-50%);  
    }
    .servicestxt{
        .box{
            .container2{
                grid-gap:0;
                grid-template-columns: 1fr;
                p{
                    font-size:2.2vh;
                }
                img{
                    display:none;
                }
              
            }
        }
    }
       
//Contact Page
    .contact-left
    {
        margin-left: 6px;
        h1{
          font-weight: 600;
          font-size: 2vh;
        }
    }
    .contact-right{
        padding-top:30px;
        form button{
            font-size:2vh;
        }
    }
    .socials{
        a{
         font-size:2vh;
        }
    } 
// End of Contact Page

//About Me Page
    .box2{
        .about-container{
            border: white solid 1px;
            background-color: rgba(247, 247, 247, 0.788); 
            border-radius:10px;
            padding: 2px 2px;
            grid-template-columns: none;
            text-align: center;
            justify-content: center;
        #about-img{
            display:none;
            margin:0;
            justify-content: center;
            align-items: center;
        }
        .about-text{ 
            font-size:2vh;
            padding:0px; 
            text-align: justify;
            width: 100%;
        } 
        #imgcut{
            display: block;
            width: 100%;
            height: auto;  
            border-radius:10px;
        }
        } //end of about container
    }  //end of box2
//
} //end of bottom


//navigation bar
.search{
    display:none;
}    

.navigation{
    .menu{
        width: 85%;
        align-items: right;
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-content: right;
        padding: 10px 0;
    }
    .menu ul{
        display:block;
    }
    .menu ul li {
        list-style: none;
        display: flex;
        margin: 0 15px;
        text-transform: uppercase;   
    }

    .menu ul li a{
        text-decoration: none;
        color: rgb(4, 77, 52);
        font-size: 17px;
        position: relative;
        padding: 5px 10px;
    }
    .menu ul li a:after{  
        content:none;
        position:relative;
        background-color:forestgreen;
        height: 3px;
        width: 0;
        left:0;
        bottom: -10px;
        transition: 0.2s;
    }
    .menu ul li a:hover:after{
        width:100%; 
        background-color:green;
    }
}
//end of navigation bar

//Services Page
.services{
    border-bottom: solid  rgb(10, 119, 37) 2px;
    .servicesGallery{
        .text{
            position:absolute;
            top: 70%;
            color:white;
            text-shadow: 1px 5px 10px black;
            font-size: 2vh;
            display:block;
        }  
    }
}//End of Services

} //End of tablet mode
