@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
.navigation {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: block;
  border-bottom: solid rgb(10, 119, 37) 2px;
}

.menu {
  width: 85%;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  padding: 30px 0;
}

.logo {
  width: 210px;
  cursor: pointer;
}

.logoc {
  width: 12vh;
  max-height: 12vh;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  text-transform: uppercase;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(4, 77, 52);
  font-size: 17px;
  position: relative;
  padding: 0 5px;
}

.menu ul li a:after { /*creates a pseudo-element that is the last child of the selected element. */
  content: "";
  position: absolute;
  background-color: forestgreen;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.menu ul li a:hover:after {
  width: 100%;
}

.search {
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: right;
  justify-content: right;
}

.searchbar {
  width: 100%;
  height: 17px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search form input {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  border-color: forestgreen;
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(247, 247, 247);
  border-left: 0;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  padding: 10px;
  outline: none;
  height: 15px;
}

.search form button {
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
  padding: 5px 12px;
  background-color: rgb(4, 77, 52);
  font-size: 15px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.search form button img {
  width: 26px;
}

.search form button:hover {
  background-color: forestgreen;
  border: 0;
  transition: 1s ease-in-out;
}

.checkbtn {
  font-size: 35px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  float: right;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 641px) {
  .checkbtn {
    display: block;
    touch-action: auto;
  }
  body .footer .socials {
    padding: 10px 10px;
  }
  body .footer .socials2 a {
    font-size: 15px;
    margin-right: 10px;
  }
  body .popup {
    width: 300px;
    padding: 20px 20px;
  }
  body .popup .hourlist li {
    width: 100px;
    padding: 22px;
    cursor: pointer;
    margin: 3px;
    font-size: 18px;
  }
  body .bottom {
    display: flex;
  }
  body .bottom .container {
    margin-top: 5%;
    grid-template-columns: none;
    grid-gap: 0;
    grid-template-rows: 1fr;
    padding-bottom: 20px;
  }
  body .bottom .container .home-text h1 {
    font-size: 3vh;
    padding: 10px;
    display: table;
    background-color: rgba(255, 255, 255, 0.7450980392);
    margin: 0px auto 0px auto; /* keep the table centered */
    border-radius: 10px;
    margin-top: 20px;
  }
  body .bottom .container .pf {
    width: 80%;
  }
  body .bottom .servicestxt .box .container2 {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }
  body .bottom .servicestxt .box .container2 p {
    font-size: 2.2vh;
  }
  body .bottom .servicestxt .box .container2 img {
    display: none;
  }
  body .bottom .container-left {
    margin-top: 0;
    padding: 5px;
    margin-left: 0;
    justify-content: center;
    display: flex;
  }
  body .bottom #p1 {
    font-size: 17px;
  }
  body .bottom #p2 {
    font-size: 17px;
  }
  body .bottom .quote {
    margin: 1em;
    overflow: hidden;
  }
  body .bottom .quote blockquote {
    background-color: #fff;
    border: solid 1px green;
    border-radius: 10px;
    display: inline-block;
    margin: 0;
    padding: 10px;
    position: relative;
  }
  body .bottom .contact {
    padding: 5px;
    padding-top: 3%;
    grid-template-columns: none;
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }
  body .bottom .contact .contact-left {
    overflow: hidden;
    position: relative;
    border-bottom: white solid 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border: radius 0;
    margin-left: 0;
    padding: 5px;
    margin-right: -30%;
  }
  body .bottom .contact .contact-left h1 {
    font-size: 17px;
  }
  body .bottom .contact .contact-left .ask {
    font-size: 15px;
  }
  body .bottom .contact .contact-left p {
    font-size: 15px;
    padding: 0;
    text-align: justify;
  }
  body .bottom .contact .contact-left .mail {
    overflow-wrap: break-word;
  }
  body .bottom .contact .contact-left .socials a {
    font-size: 15px;
    padding-bottom: 10px;
    display: none;
  }
  body .bottom .contact .contact-right {
    padding: 7px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: -20%;
  }
  body .bottom .contact .contact-right form {
    width: 80%;
    font-size: 15px;
  }
  body .bottom .contact .contact-right form input, body .bottom .contact .contact-right form textarea {
    padding: 5px 5px;
  }
  body .bottom .about-container {
    border: white solid 1px;
    background-color: rgba(247, 247, 247, 0.788);
    border-radius: 15px;
    padding: 2px 2px;
    grid-template-columns: none;
    text-align: center;
    justify-content: center;
  }
  body .bottom .about-container #about-img {
    display: none;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  body .bottom .about-container .about-text {
    font-size: 20px;
    padding: 0px;
    text-align: justify;
    width: 100%;
  }
  body .bottom .about-container #imgcut {
    display: block;
    width: 100%;
    height: auto;
  }
  body .bottom .box2 {
    padding: 1px;
    margin: 0;
  }
  body .bottom .calendar {
    width: 100%;
    padding: 20px;
  }
  body .bottom .calendar-weeks-days {
    font-size: medium;
    justify-content: space-evenly;
  }
  body .bottom .calendar-days {
    grid-template-columns: repeat(7, 47px);
    grid-auto-rows: minmax(50px, 50px);
    font-size: medium;
  }
  body .bottom .calendar-days div {
    width: 30px;
    height: 33px;
    align-items: center;
    padding: 3px;
  }
  body .bottom .format {
    font-size: 1.3rem;
    padding-right: 10px;
    left: -1rem;
  }
  body .bottom .clock {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  body .bottom .date-format {
    font-size: 1rem;
  }
  body .bottom .time-value {
    left: 60%;
    top: -33px;
  }
  body .bottom .services {
    display: none;
  }
  body .bottom .servicesGallery {
    display: none;
  }
  body .bottom .servicesGallery img {
    display: hidden;
  }
  body .bottom .servicestxt {
    padding: 10px;
    border-bottom: none;
  }
  body .bottom .servicestxt .box {
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 5px 10px;
  }
  body .bottom .servicestxt p {
    font-size: 20px;
    line-height: 2em;
    text-align: justify;
  }
  body .navigation {
    background-color: green;
    border: 0;
  }
  body .quote {
    width: -moz-fit-content;
    width: fit-content;
  }
  body .logo {
    display: none;
  }
  body .menu {
    display: inline-block;
    background-color: green;
    width: 100%;
    margin: 0;
    padding: 0;
    touch-action: auto;
  }
  body .menu ul {
    display: none;
    float: left;
    padding: 5%;
  }
  body .menu ul li {
    width: 100%;
    padding: 20px;
    text-align: right;
    float: right;
  }
  body .menu ul li a {
    color: white;
    padding: 20px 20px;
    text-align: center;
    border-top: 1px #5a695b solid;
    touch-action: auto;
  }
  body .search {
    display: none;
  }
  body .menu ul li a:hover:after {
    width: 0;
  }
  body .menu ul li a:hover {
    background-color: rgb(4, 77, 52);
    border-radius: 5%;
    width: -moz-max-content;
    width: max-content;
  }
  body .menu ul li:first-child a {
    border-top: none;
  }
  body #check:checked ~ ul {
    left: 0;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .bottom .container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr; /* two-column layout, and each column takes up 1 fraction*/
    grid-gap: 20px;
    bottom: 0;
  }
  .bottom .container .home-text h1 {
    font-size: 3vh;
    padding: 20px;
    display: table;
    background-color: rgba(255, 255, 255, 0.7450980392);
    margin: 0px auto 0px auto; /* keep the table centered */
    border-radius: 10px;
    margin-top: 20px;
  }
  .bottom .container .pf {
    width: 90%;
  }
  .bottom .container-left {
    margin-left: 30px;
  }
  .bottom #p1 {
    font-size: 2.3vh;
  }
  .bottom #p2 {
    font-size: 2.2vh;
  }
  .bottom .quote {
    margin: 1em;
    overflow: hidden;
  }
  .bottom .quote blockquote {
    background-color: #fff;
    border: solid 1px green;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    position: relative;
  }
  .bottom .calendar-container {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bottom .servicestxt .box .container2 {
    grid-gap: 0;
    grid-template-columns: 1fr;
  }
  .bottom .servicestxt .box .container2 p {
    font-size: 2.2vh;
  }
  .bottom .servicestxt .box .container2 img {
    display: none;
  }
  .bottom .contact-left {
    margin-left: 6px;
  }
  .bottom .contact-left h1 {
    font-weight: 600;
    font-size: 2vh;
  }
  .bottom .contact-right {
    padding-top: 30px;
  }
  .bottom .contact-right form button {
    font-size: 2vh;
  }
  .bottom .socials a {
    font-size: 2vh;
  }
  .bottom .box2 .about-container {
    border: white solid 1px;
    background-color: rgba(247, 247, 247, 0.788);
    border-radius: 10px;
    padding: 2px 2px;
    grid-template-columns: none;
    text-align: center;
    justify-content: center;
  }
  .bottom .box2 .about-container #about-img {
    display: none;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .bottom .box2 .about-container .about-text {
    font-size: 2vh;
    padding: 0px;
    text-align: justify;
    width: 100%;
  }
  .bottom .box2 .about-container #imgcut {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .search {
    display: none;
  }
  .navigation .menu {
    width: 85%;
    align-items: right;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-content: right;
    padding: 10px 0;
  }
  .navigation .menu ul {
    display: block;
  }
  .navigation .menu ul li {
    list-style: none;
    display: flex;
    margin: 0 15px;
    text-transform: uppercase;
  }
  .navigation .menu ul li a {
    text-decoration: none;
    color: rgb(4, 77, 52);
    font-size: 17px;
    position: relative;
    padding: 5px 10px;
  }
  .navigation .menu ul li a:after {
    content: none;
    position: relative;
    background-color: forestgreen;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
  }
  .navigation .menu ul li a:hover:after {
    width: 100%;
    background-color: green;
  }
  .services {
    border-bottom: solid rgb(10, 119, 37) 2px;
  }
  .services .servicesGallery .text {
    position: absolute;
    top: 70%;
    color: white;
    text-shadow: 1px 5px 10px black;
    font-size: 2vh;
    display: block;
  }
}
.bottom {
  background-image: url("/img/wpmain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow: hidden;
  min-height: 70vh;
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  bottom: 0;
}

.container2 {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10vh;
  bottom: 0;
}
.container2 p {
  line-height: 2;
  font-family: "Raleway", sans-serif;
}
.container2 .pf2 {
  width: 80%;
  border-radius: 10px;
  position: relative;
  margin-left: 15%;
}

.container-left {
  margin-top: 5%;
  padding: 100px 0;
  margin-left: 20%;
  justify-content: center;
  display: inline-grid;
}

.pf {
  border-radius: 50%;
  width: 80%;
  background: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home-text {
  text-align: center;
  display: inline-grid;
  font-family: "Raleway", sans-serif;
}

.home-text h1 {
  color: rgb(4, 77, 52);
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

.quote {
  display: inline-block;
  margin: 1em;
  overflow: hidden;
}
.quote blockquote {
  background-color: #fff;
  border: solid 1px green;
  border-radius: 10px;
  display: inline-block;
  margin: 0;
  padding: 3em;
  position: relative;
}
.quote blockquote:before {
  animation: clockwise 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 10%;
}
.quote blockquote:after {
  animation: counter 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 10%;
}
.quote blockquote > * {
  position: relative;
  z-index: 1;
}

#p1 {
  font-style: italic;
  font-size: 20px;
  display: block;
}

#p2 {
  text-align: right;
  font-size: 20px;
  display: block;
}

@keyframes clockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes counter {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.footer {
  position: absolute;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(59, 59, 59);
  border-top: solid rgb(10, 119, 37) 2px;
}

.socials2 {
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
}

.socials2 a {
  display: inline-block;
  text-decoration: none;
  color: rgb(209, 207, 207);
  font-size: 20px;
  margin-right: 10px;
  margin-top: 30px;
  transition: transform 0.5s;
  justify-content: center;
}

.socials2 a:hover {
  color: green;
  transform: translateY(-5px);
}

.footer-text {
  text-align: center;
  padding: 10px 30px 30px 30px;
  color: rgb(209, 207, 207);
}

.contact {
  height: auto;
  margin: auto;
  padding-left: 5%;
  padding-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-left {
  margin-left: 60px;
  flex-basis: 35%;
}
.contact-left h1 {
  font-weight: 600;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: darkgreen;
  padding: 1em 0;
}
.contact-left p {
  font-size: 20px;
  margin-top: 30px;
  padding: 5px 0;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}
.contact-left .ask {
  width: 75%;
}

.contact-right form {
  width: 80%;
  font-size: 20px;
  margin-bottom: 2em;
  font-family: "Raleway", sans-serif;
}
.contact-right form input, .contact-right form textarea {
  width: 100%;
  background-color: rgb(247, 247, 247);
  outline: none; /*outline sets most of the outline properties in a single declaration.*/
  padding: 10px 20px;
  margin: 15px 0;
  border-radius: 10px;
  border-color: forestgreen;
  font-size: 15px;
  border-style: solid;
}
.contact-right form button {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  color: aliceblue;
}
.contact-right form button:hover {
  background-color: forestgreen;
}

.socials {
  justify-content: space-between;
}
.socials a {
  display: inline-block;
  text-decoration: none;
  color: darkgreen;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 30px;
  transition: transform 0.5s;
}
.socials a:hover {
  color: green;
  transform: translateY(-5px);
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border-bottom: solid white 2px;
}

.servicesGallery {
  overflow: hidden;
  flex-grow: 1;
  flex: 50%;
  box-sizing: content-box;
  justify-content: center;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  position: relative;
}
.servicesGallery img {
  width: 100%;
  height: 100%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  transition-duration: 0.3s;
  justify-content: center;
  text-align: center;
  display: block;
  overflow: hidden;
  box-sizing: content-box;
}
.servicesGallery .title {
  position: absolute;
  display: block;
  cursor: default;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-shadow: 1px 5px 10px black;
  transition-duration: 0.3s;
  color: white;
  background-color: rgba(149, 149, 150, 0.116);
}
.servicesGallery .text {
  position: absolute;
  top: 55%;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 20px;
  display: none;
  margin-right: -50%;
  transition-duration: 0.3s;
  transform: translate(-50%, -50%);
}

.servicesGallery:hover img {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.servicesGallery:hover span {
  color: white;
  display: inline-block;
  transition-duration: 0.3s;
  background-color: rgba(149, 149, 150, 0.116);
}

.servicestxt {
  padding: 30px;
  border-bottom: solid white 2px;
}
.servicestxt .box {
  border: white solid 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px 50px;
}
.servicestxt p {
  font-size: 20px;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 2em;
  font-family: "Raleway", sans-serif;
}

.msv {
  display: none;
}

.calendar-body {
  place-items: left;
  font-family: var(--font-family);
  overflow: hidden;
  pad: 10px;
  position: relative;
}

.calendar-container {
  box-sizing: border-box;
  border-radius: 20px;
  width: 725px;
  position: relative;
  display: flex;
  float: left;
  padding: 2% 2% 2% 2%;
  justify-content: center;
  right: 0%;
  overflow: hidden;
}

.calendar {
  height: 540px;
  width: 63%;
  background-color: white;
  border-radius: 25px;
  padding: 50px 50px 50px 50px;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.calendar-header {
  background-color: green;
  display: flex;
  flex: 50%;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.calendar-header div:hover {
  color: white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.change-date {
  display: flex;
  font-weight: 900;
}

.calendar-weeks-days {
  display: flex;
  cursor: pointer;
  color: rgb(87, 86, 86);
  padding-top: 20px;
  font-size: large;
  justify-content: space-evenly;
}

.calendar-weeks-days div:hover {
  color: black;
  transform: scale(1.07);
  transition: all 0.2s ease-in-out;
}

.calendar-weeks-days div {
  display: grid;
  place-items: center;
  color: green;
  padding-bottom: 30px;
  padding-top: 10px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 55px);
  cursor: pointer;
  color: rgb(87, 86, 86);
  grid-auto-rows: minmax(50px, 50px);
  font-size: large;
}

.calendar-days div:nth-child(7n) {
  border-right: none;
}

.calendar-days div {
  width: 37px;
  height: 33px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  display: grid;
  place-items: center;
  color: black;
  margin: 0 30%;
  font-size: 1;
  border-bottom: solid 1px forestgreen;
  border-right: solid 1px forestgreen;
}

.calendar-days div.inactive {
  color: #aaa;
}

.calendar-days div.active {
  color: white;
  background-color: green;
  border-radius: 10px;
}

.calendar-days div.active::before {
  background: #97d620;
}

.month-pick {
  padding: 5px 5px 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.month-pick:hover {
  background-color: var();
}

.month-pick:hover {
  color: var(--color-txt);
}

.year-pick {
  display: flex;
  align-items: center;
}

.year-change {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  font-size: larger;
  text-align: center;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 50%;
}

#year-previous {
  margin-right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

#year-next {
  border-radius: 50%;
  place-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
}

#year-previous:hover {
  background-color: #2da110;
  transition: all 0.2s ease-in-out;
  transform: scale(1.12);
}

#year-next:hover {
  background-color: #2da110;
  transition: all 0.2s ease-in-out;
  transform: scale(1.12);
}

#year:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: all 0.2s ease-in-out;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #97d620;
  border-radius: 20%;
  color: var(--dark-text);
}

.months {
  position: relative;
  left: 0;
  top: -50px;
  background-color: #ebebeb;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}

.months > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.months > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.months > div > div:hover {
  background-color: var(--light-btn);
  color: var(--dark-text);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.calendar-footer {
  padding: 10px;
  align-items: center; /*items are packed toward to end line*/
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: inline;
  top: 50px;
  justify-content: center;
  left: 30px;
}

.format {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 15px;
  border-right: 3px solid #a8f096;
  position: absolute;
  left: -1rem;
}

.clock {
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.date-format {
  font-size: 1rem;
}

.time-value {
  display: block;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  left: 66%;
  top: -33px;
  text-align: right;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: var(--shadow);
  display: none;
  transition: 0.5s;
  opacity: 0;
}

.popup.active {
  transition: 0.5s;
  display: block;
  opacity: 1;
}

.hourlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.hourlist li {
  list-style: none;
  border-radius: 10px;
  background: rgb(238, 237, 237);
  width: 150px;
  padding: 30px;
  cursor: pointer;
  margin: 3px;
  font-size: 20px;
}
.hourlist li:hover {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  color: aliceblue;
}
.hourlist .active {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  color: aliceblue;
}

.clickMe {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  color: aliceblue;
}

.timeBtn {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  color: aliceblue;
}

.timeBtn:hover {
  background-color: forestgreen;
}

.bottom#blur.active {
  filter: blur(15px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.box2 {
  padding: 20px;
}
.box2 .about-container {
  border: white solid 1px;
  background-color: rgba(247, 247, 247, 0.788);
  border-radius: 15px;
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.box2 .about-container #imgcut {
  display: none;
}
.box2 .about-container .about-text {
  font-size: 20px;
  padding: 20px 30px;
  line-height: 2;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.box2 .about-container #about-img {
  width: 440px;
  height: auto;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-left: 20%;
}

.arboxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2vh;
}

.arbox {
  padding: 10vh;
  font-size: 2vh;
  border: white solid 1px;
  border-radius: 3%;
  margin: 1%;
  background-color: rgba(247, 247, 247, 0.788);
}
.arbox h1 {
  color: rgb(10, 119, 37);
}
.arbox a {
  text-decoration: none;
  color: black;
}
.arbox a:visited {
  text-decoration: none;
  color: black;
}
.arbox p {
  line-height: 2;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}

html {
  height: 100%;
  margin: 0;
}

:root {
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}/*# sourceMappingURL=style.css.map */