@import 'nav';
@import 'mobile';
@import 'tablet';
@import 'bottom';
@import 'footer';
@import 'contact';
@import 'services';
@import 'calendar';
@import 'popup';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}


:root {
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: #9796f0;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: consolas;
}

