@media only screen and (max-width: 641px) {
    .checkbtn{
        display:block;
    }
    .bottom {
      display:flex;
     }
   
  
    .container{
        display:flex;
        
        
    }
    .footer{
        display:block;
        height:auto;
    }
   
    .home-text h1{
        text-align: center;
        
        
    }
    .navigation{
        border:0;
    }
    .quote{
        width:fit-content;
       
    }
    .menu{
        display:inline-block;
        background-color: green;
        width:100% ;
        margin:0;
        padding:0;    
        
    }    
    .logo{
        display:none;
    }
    
    .menu ul {
        display: none; 
        float:left;
        padding: 5%;
    
    }

    .menu ul li{
        width: 100%;
        padding: 20px;
        text-align: right;
        float:right;
        
      
    }
    .menu ul li a {
        color:white;
        padding: 20px 20px;
        text-align: center;
        border-top:1px #5a695b solid;
       
 
    }
    .search{
        display:none;
    }
    .menu ul li a:hover:after{
        width:0; 

    }
    .menu ul li a:hover{
        background-color: rgb(4, 77, 52);
        border-radius: 5%;
        width:max-content;
      
       
        
    }
    .menu ul li:first-child a {
        border-top: none;
    }
    #check:checked ~ ul{
        left:0;
    }
    .contact{
           margin:auto;
           padding:5%;
        .contact-left{
            overflow: hidden;
            position:relative;
            border: white solid 1px;
            background-color: rgba(255, 255, 255, 0.5); 
            border-radius:15px;
            margin-left: 0;  
            padding:10px;      
            
            h1{
                 font-size: 17px;
                 
            }
            .ask{
                font-size:15px;             
            }
            p{
                font-size:15px;    
                
            }
            .mail{
                overflow-wrap: break-word;
                
                
            }
            .socials{
                a {
                    font-size: 20px;
                }
            }
            
        }
        .contact-right{
            overflow: hidden;
            border: white solid 1px;
            padding:10px;        
            border-radius:15px;
            background-color: rgba(255, 255, 255, 0.5); 
            form
            {
            width: 80%;
            font-size: 15px;
            }
        }
    }
}

