.navigation{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: block;
    border-bottom: solid  rgb(10, 119, 37) 2px;
}
.menu{
    width: 85%;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    padding: 30px 0;
}
.logo {
    width: 210px;
    cursor: pointer;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;   
}

.menu ul li a{
    text-decoration: none;
    color: rgb(4, 77, 52);
    font-size: 17px;
    position: relative;
    padding: 0 10px;
}
.menu ul li a:after{  /*creates a pseudo-element that is the last child of the selected element. */
    content:"";
    position:absolute;
    background-color:forestgreen;
    height: 3px;
    width: 0;
    left:0;
    bottom: -10px;
    transition: 0.2s;
}
.menu ul li a:hover:after{
    width:100%; 
}
.search{
    width:100%;
    padding: 5%;
    display: flex;
    align-items: right;
    justify-content: right;
    
    
}
.searchbar{
    width: 100%;
    height: 17px;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    float:right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search form input{
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    border-color: forestgreen;
    border-radius: 10px;
    border-style:solid;
    background-color: rgb(247, 247, 247);
    border-left:0;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%; 
    padding: 10px; 
    outline:none;
    height:15px;
}
.search form button{
    cursor:pointer;
    border-style: none;
    border-radius: 10px;
    padding: 5px 12px;
    background-color: rgb(4, 77, 52);
    font-size: 15px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%; 
       

}
.search form button img{
    width: 26px;
}
.search form button:hover{
    background-color:forestgreen;
    border:0;
    transition: 1s ease-in-out;
  
}

.checkbtn{
    font-size: 35px;
    color:white;
    line-height: 80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
    float:right;
    flex-direction: column;
    justify-content: space-between;
}
