@import 'nav';
@import 'mobile';
@import 'tablet';
@import 'bottom';
@import 'footer';
@import 'contact';
@import 'services';
@import 'calendar';
@import 'popup';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}

