@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
.navigation {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: block;
  border-bottom: solid rgb(10, 119, 37) 2px;
}

.menu {
  width: 85%;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  padding: 30px 0;
}

.logo {
  width: 210px;
  cursor: pointer;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  text-transform: uppercase;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(4, 77, 52);
  font-size: 17px;
  position: relative;
  padding: 0 10px;
}

.menu ul li a:after { /*creates a pseudo-element that is the last child of the selected element. */
  content: "";
  position: absolute;
  background-color: forestgreen;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.menu ul li a:hover:after {
  width: 100%;
}

.search {
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: right;
  justify-content: right;
}

.searchbar {
  width: 100%;
  height: 17px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search form input {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  border-color: forestgreen;
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(247, 247, 247);
  border-left: 0;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  padding: 10px;
  outline: none;
  height: 15px;
}

.search form button {
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
  padding: 5px 12px;
  background-color: rgb(4, 77, 52);
  font-size: 15px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.search form button img {
  width: 26px;
}

.search form button:hover {
  background-color: forestgreen;
  border: 0;
  transition: 1s ease-in-out;
}

.checkbtn {
  font-size: 35px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  float: right;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 641px) {
  .checkbtn {
    display: block;
  }
  .bottom {
    display: flex;
  }
  .container {
    display: flex;
  }
  .footer {
    display: block;
    height: auto;
  }
  .home-text h1 {
    text-align: center;
  }
  .navigation {
    border: 0;
  }
  .quote {
    width: -moz-fit-content;
    width: fit-content;
  }
  .menu {
    display: inline-block;
    background-color: green;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo {
    display: none;
  }
  .menu ul {
    display: none;
    float: left;
    padding: 5%;
  }
  .menu ul li {
    width: 100%;
    padding: 20px;
    text-align: right;
    float: right;
  }
  .menu ul li a {
    color: white;
    padding: 20px 20px;
    text-align: center;
    border-top: 1px #5a695b solid;
  }
  .search {
    display: none;
  }
  .menu ul li a:hover:after {
    width: 0;
  }
  .menu ul li a:hover {
    background-color: rgb(4, 77, 52);
    border-radius: 5%;
    width: -moz-max-content;
    width: max-content;
  }
  .menu ul li:first-child a {
    border-top: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .contact {
    margin: auto;
    padding: 5%;
  }
  .contact .contact-left {
    overflow: hidden;
    position: relative;
    border: white solid 1px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin-left: 0;
    padding: 10px;
  }
  .contact .contact-left h1 {
    font-size: 17px;
  }
  .contact .contact-left .ask {
    font-size: 15px;
  }
  .contact .contact-left p {
    font-size: 15px;
  }
  .contact .contact-left .mail {
    overflow-wrap: break-word;
  }
  .contact .contact-left .socials a {
    font-size: 20px;
  }
  .contact .contact-right {
    overflow: hidden;
    border: white solid 1px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .contact .contact-right form {
    width: 80%;
    font-size: 15px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .menu ul {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .menu ul {
    display: block;
  }
}
.bottom {
  background-image: url(/img/wp99.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 78vh;
  border-bottom: solid rgb(10, 119, 37) 2px;
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* two-column layout, and each column takes up 1 fraction*/
  grid-gap: 10px;
  bottom: 0;
}

.container-left {
  margin-top: 5%;
  padding: 100px 0;
  margin-left: 20%;
  justify-content: center;
  display: inline-grid;
}

.pf {
  border-radius: 50%;
  width: 80%;
  background: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home-text {
  text-align: center;
  display: inline-grid;
  font-family: "Raleway", sans-serif;
}

.home-text h1 {
  color: rgb(4, 77, 52);
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

.quote {
  display: inline-block;
  margin: 1em;
  overflow: hidden;
}
.quote blockquote {
  background-color: #fff;
  border: solid 1px green;
  border-radius: 10px;
  display: inline-block;
  margin: 0;
  padding: 3em;
  position: relative;
}
.quote blockquote:before {
  animation: clockwise 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 10%;
}
.quote blockquote:after {
  animation: counter 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 10%;
}
.quote blockquote > * {
  position: relative;
  z-index: 1;
}

#p1 {
  font-style: italic;
  font-size: 20px;
  display: block;
}

#p2 {
  text-align: right;
  font-size: 20px;
  display: block;
}

@keyframes clockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes counter {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.footer {
  position: static;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(59, 59, 59);
}

.socials2 {
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
}

.socials2 a {
  display: inline-block;
  text-decoration: none;
  color: rgb(209, 207, 207);
  font-size: 20px;
  margin-right: 10px;
  margin-top: 30px;
  transition: transform 0.5s;
  justify-content: center;
}

.socials2 a:hover {
  color: green;
  transform: translateY(-5px);
}

.footer-text {
  text-align: center;
  padding: 10px 30px 30px 30px;
  color: rgb(209, 207, 207);
}

.contact {
  height: auto;
  margin: auto;
  padding-left: 5%;
  padding-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-left {
  margin-left: 60px;
  flex-basis: 35%;
}
.contact-left h1 {
  font-weight: 600;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: darkgreen;
  padding: 1em 0;
}
.contact-left p {
  font-size: 20px;
  margin-top: 30px;
  padding: 5px 0;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}
.contact-left .ask {
  width: 75%;
}

.contact-right form {
  width: 80%;
  font-size: 20px;
  margin-bottom: 2em;
  font-family: "Raleway", sans-serif;
}
.contact-right form input, .contact-right form textarea {
  width: 100%;
  background-color: rgb(247, 247, 247);
  outline: none; /*outline sets most of the outline properties in a single declaration.*/
  padding: 10px 20px;
  margin: 15px 0;
  border-radius: 10px;
  border-color: forestgreen;
  font-size: 15px;
  border-style: solid;
}
.contact-right form button {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  color: aliceblue;
}
.contact-right form button:hover {
  background-color: forestgreen;
}

.socials {
  justify-content: space-between;
}
.socials a {
  display: inline-block;
  text-decoration: none;
  color: darkgreen;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 30px;
  transition: transform 0.5s;
}
.socials a:hover {
  color: green;
  transform: translateY(-5px);
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  text-align: center;
  border-bottom: solid rgba(10, 119, 37, 0.582) 2px;
}

.servicesGallery {
  cursor: pointer;
  overflow: hidden;
  flex-grow: 1;
  flex: 33, 33%;
  width: 33.33333%;
  box-sizing: content-box;
  justify-content: center;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  position: relative;
}
.servicesGallery img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 400px;
  transition-duration: 0.3s;
  justify-content: center;
  text-align: center;
  display: block;
  overflow: hidden;
  cursor: pointer;
  box-sizing: content-box;
  float: left;
}
.servicesGallery .title {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-shadow: 1px 5px 10px black;
  transition-duration: 0.3s;
  color: white;
  background-color: rgba(149, 149, 150, 0.116);
}
.servicesGallery .text {
  position: absolute;
  top: 55%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 20px;
  display: none;
  margin-right: -50%;
  transition-duration: 0.3s;
  transform: translate(-50%, -50%);
}

.servicesGallery:hover img {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.servicesGallery:hover span {
  color: white;
  display: block;
  transition-duration: 0.3s;
}

.servicestxt {
  padding: 30px;
  border-bottom: solid rgba(10, 119, 37, 0.582) 2px;
}
.servicestxt .box {
  border: white solid 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
}
.servicestxt p {
  font-size: 20px;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 2em;
}

.calendar-body {
  place-items: left;
  font-family: var(--font-family);
  overflow: hidden;
  pad: 10px;
}

.calendar-container {
  box-sizing: border-box;
  border-radius: 20px;
  width: 730px;
  position: relative;
  display: flex;
  float: left;
  padding: 2% 2% 2% 2%;
  justify-content: center;
  right: 0%;
  overflow: hidden;
}

.calendar {
  height: 540px;
  width: 60%;
  background-color: white;
  border-radius: 25px;
  padding: 50px 50px 50px 50px;
  box-shadow: var(--shadow);
  overflow: hidden;
}

.calendar-header {
  background-color: green;
  display: flex;
  flex: 50%;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.calendar-header div:hover {
  color: white;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.change-date {
  display: flex;
  font-weight: 900;
}

.calendar-weeks-days {
  display: flex;
  cursor: pointer;
  color: rgb(87, 86, 86);
  padding-top: 20px;
  font-size: large;
  justify-content: space-evenly;
}

.calendar-weeks-days div:hover {
  color: black;
  transform: scale(1.07);
  transition: all 0.2s ease-in-out;
}

.calendar-weeks-days div {
  display: grid;
  place-items: center;
  color: green;
  padding-bottom: 30px;
  padding-top: 10px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 55px);
  cursor: pointer;
  color: rgb(87, 86, 86);
  grid-auto-rows: minmax(50px, 50px);
  font-size: large;
}

.calendar-days div:nth-child(7n) {
  border-right: none;
}

.calendar-days div {
  width: 37px;
  height: 33px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  display: grid;
  place-items: center;
  color: black;
  margin: 0 30%;
  font-size: 1;
  border-bottom: solid 1px forestgreen;
  border-right: solid 1px forestgreen;
}

.calendar-days div.inactive {
  color: #aaa;
}

.calendar-days div.active {
  color: white;
  background-color: green;
  border-radius: 10px;
}

.calendar-days div.active::before {
  background: #97d620;
}

.month-pick {
  padding: 5px 5px 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.month-pick:hover {
  background-color: var();
}

.month-pick:hover {
  color: var(--color-txt);
}

.year-pick {
  display: flex;
  align-items: center;
}

.year-change {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  font-size: larger;
  text-align: center;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 50%;
}

#year-previous {
  margin-right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

#year-next {
  border-radius: 50%;
  place-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
}

#year-previous:hover {
  background-color: #2da110;
  transition: all 0.2s ease-in-out;
  transform: scale(1.12);
}

#year-next:hover {
  background-color: #2da110;
  transition: all 0.2s ease-in-out;
  transform: scale(1.12);
}

#year:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: all 0.2s ease-in-out;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #97d620;
  border-radius: 20%;
  color: var(--dark-text);
}

.months {
  position: relative;
  left: 0;
  top: -50px;
  background-color: #ebebeb;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}

.months > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.months > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.months > div > div:hover {
  background-color: var(--light-btn);
  color: var(--dark-text);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.calendar-footer {
  padding: 10px;
  display: flex;
  align-items: center; /*items are packed toward to end line*/
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: inline;
  top: 50px;
  justify-content: center;
  left: 30px;
}

.format {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 15px;
  border-right: 3px solid #a8f096;
  position: absolute;
  left: -1rem;
}

.clock {
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.date-format {
  font-size: 1rem;
}

.time-value {
  display: block;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  left: 71%;
  top: -33px;
  text-align: right;
}

:root {
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hourlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.hourlist li {
  list-style: none;
  border-radius: 10px;
  background: rgb(238, 237, 237);
  width: 150px;
  padding: 30px;
  cursor: pointer;
  margin: 3px;
  font-size: 20px;
}
.hourlist li:hover {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  color: aliceblue;
}
.hourlist .active {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  color: aliceblue;
}

.clickMe {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  color: aliceblue;
}

.timeBtn {
  background-color: rgb(4, 77, 52);
  transition-duration: 0.4s;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  color: aliceblue;
}

.timeBtn:hover {
  background-color: forestgreen;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */