@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Raleway:wght@100;200&display=swap");
.navigation {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: block;
  border-bottom: solid rgb(10, 119, 37) 2px;
}

.menu {
  width: 85%;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  padding: 30px 0;
}

.logo {
  width: 210px;
  cursor: pointer;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  text-transform: uppercase;
}

.menu ul li a {
  text-decoration: none;
  color: rgb(4, 77, 52);
  font-size: 17px;
  position: relative;
  padding: 0 10px;
}

.menu ul li a:after { /*creates a pseudo-element that is the last child of the selected element. */
  content: "";
  position: absolute;
  background-color: forestgreen;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.menu ul li a:hover:after {
  width: 100%;
}

.search {
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: right;
  justify-content: right;
}

.searchbar {
  width: 100%;
  height: 17px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search form input {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  border-color: forestgreen;
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(247, 247, 247);
  border-left: 0;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  padding: 10px;
  outline: none;
  height: 15px;
}

.search form button {
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
  padding: 5px 12px;
  background-color: rgb(4, 77, 52);
  font-size: 15px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.search form button img {
  width: 26px;
}

.search form button:hover {
  background-color: forestgreen;
  border: 0;
  transition: 1s ease-in-out;
}

.checkbtn {
  font-size: 35px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  float: right;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 641px) {
  .checkbtn {
    display: block;
  }
  .bottom {
    display: flex;
  }
  .home-text h1 {
    text-align: center;
  }
  .navigation {
    border: 0;
  }
  .quote {
    width: -moz-fit-content;
    width: fit-content;
  }
  .menu {
    display: inline-block;
    background-color: green;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo {
    display: none;
  }
  .menu ul {
    display: none;
    float: left;
    padding: 5%;
  }
  .menu ul li {
    width: 100%;
    padding: 20px;
    text-align: right;
    float: right;
  }
  .menu ul li a {
    color: white;
    padding: 20px 20px;
    text-align: center;
    border-top: 1px #5a695b solid;
  }
  .search {
    display: none;
  }
  .menu ul li a:hover:after {
    width: 0;
  }
  .menu ul li a:hover {
    background-color: rgb(4, 77, 52);
    border-radius: 5%;
    width: -moz-max-content;
    width: max-content;
  }
  .menu ul li:first-child a {
    border-top: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .menu ul {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .menu ul {
    display: block;
  }
}
.bottom {
  background-image: url(/img/wp99.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 78vh;
  border-bottom: solid rgb(10, 119, 37) 2px;
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* two-column layout, and each column takes up 1 fraction*/
  grid-gap: 10px;
  bottom: 0;
}

.container-left {
  margin-top: 5%;
  padding: 100px 0;
  margin-left: 20%;
  justify-content: center;
  display: inline-grid;
}

.pf {
  border-radius: 50%;
  width: 80%;
  background: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home-text {
  text-align: center;
  display: inline-grid;
  font-family: "Raleway", sans-serif;
}

.home-text h1 {
  color: rgb(4, 77, 52);
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

.quote {
  display: inline-block;
  margin: 1em;
  overflow: hidden;
}
.quote blockquote {
  background-color: #fff;
  border: solid 1px green;
  border-radius: 10px;
  display: inline-block;
  margin: 0;
  padding: 3em;
  position: relative;
}
.quote blockquote:before {
  animation: clockwise 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 10%;
}
.quote blockquote:after {
  animation: counter 30s infinite linear;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 10%;
}
.quote blockquote > * {
  position: relative;
  z-index: 1;
}

#p1 {
  font-style: italic;
  font-size: 20px;
  display: block;
}

#p2 {
  text-align: right;
  font-size: 20px;
  display: block;
}

@keyframes clockwise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes counter {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.footer {
  position: static;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(59, 59, 59);
}

.socials2 {
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
}

.socials2 a {
  display: inline-block;
  text-decoration: none;
  color: rgb(209, 207, 207);
  font-size: 20px;
  margin-right: 10px;
  margin-top: 30px;
  transition: transform 0.5s;
  justify-content: center;
}

.socials2 a:hover {
  color: green;
  transform: translateY(-5px);
}

.footer-text {
  text-align: center;
  padding: 10px 30px 30px 30px;
  color: rgb(209, 207, 207);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */