body {
 
 

}
.main-grid{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.navigation{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: block;
}

.footer {
    position: static;
    display:grid;
    grid-template-rows: 1fr 1fr;
    bottom:0;
    background-color: rgb(59, 59, 59);

}
.socials2
{
 
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    padding: 20px 20px;
    
}

.socials2 a
{
    display: inline-block;
    text-decoration: none;
    color: rgb(209, 207, 207);
    font-size: 20px;
    margin-right: 10px;
    margin-top: 20px;
    transition: transform 0.5s;
    justify-content: center;
}

.socials2 a:hover
{
    color: green;
    transform: translateY(-5px);
    
}

.bar {
    position: flex;
    background-color: rgb(4, 77, 52);
    top: 0;
    left: 0; 
    width: 100%;
    line-height: 3px;
    color: #FFF;
}
.bar2{
    position: flex;
    width: 100%;
    line-height: 3px;
    color: #FFF;
    border-bottom: 2px solid rgb(4, 77, 52);
}
.footer-text{
    text-align: center;
    padding: 10px 30px 30px 30px;
    color: rgb(209, 207, 207);
}
.container{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* two-column layout, and each column takes up 1 fraction*/
    grid-gap: 10px;
    margin-top: -4%;
}
.container-left{
    margin-top: 5%;
    padding: 100px 0;
    margin-left: 20%;
    justify-content: center;
    
}
.container-left img{
    border-radius: 50%;
    width: 80%;
}

.home-text {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
      
}

.home-text h1{
    margin-top: -15%;
    color: rgb(4, 77, 52); 
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#p1{
   font-style: italic;
   margin-top: 5%;
}  
#p2{
    margin-top: 5%;
    margin-left: 60%;
}

.menu
{
    width: 85%;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    padding: 30px 0;
}
.logo
{
    width: 230px;
    cursor: pointer;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    
    
}
.menu ul li a{
    text-decoration: none;
    color: rgb(4, 77, 52);
    font-size: 17px;
}

.menu ul li a:hover {
    background-color: rgb(4, 77, 52); 
    padding: 8px 13px;
    border-radius: 10px;
    text-decoration: white;
   
        
}
.menu :hover{
    color:white;
}

.bottom
{
    background-image: url(wp4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  

}
.contact
{
    height: auto;
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  

}   
.contact-left
{
    margin-left: 60px;
    flex-basis: 35%;
}
.contact p {
    font-size: 20px;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.socials
{
 
    justify-content: space-between;
}

.socials a
{
    display: inline-block;
    text-decoration: none;
    color: darkgreen;
    font-size: 30px;
    margin-right: 10px;
    margin-top: 30px;
    transition: transform 0.5s;
}


.socials a:hover
{
 color: green;
 transform: translateY(-5px);
}
.contact-right form
{
  width: 80%;
  font-size: 20px;
}
.contact form input, form textarea
{
    width: 100%;
    background-color: rgb(247, 247, 247);
    outline: none;  /*outline sets most of the outline properties in a single declaration.*/
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 10px;
    border-color: forestgreen;
    font-size: 15px;
    border-style: solid;
}
.contact form button
{
    background-color: rgb(4, 77, 52);
    transition-duration: 0.4s;
    border:0;
    cursor: pointer;
    border-radius: 10px;
    padding: 14px 40px;
    font-size: 16px;
    color: aliceblue;
   
}
.contact form button:hover
{
    background-color: rgb(215, 224, 215);
    
}
.calendar{

    justify-content: right;
    text-align: right;
    margin-right: 80px;
}

.search{
    width:100%;
    padding: 5%;
    background-image: linear-gradient(  rgb(11, 54, 43));
    display: flex;
    align-items: right;
    justify-content: right;
    
}
.searchbar{
    width: 100%;
    height: 17px;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    float:right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.search form input{
    font-size: 17px;
    height:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: rgb(247, 247, 247);
    outline: none;  /*outline sets most of the outline properties in a single declaration.*/
    margin: 15px 0;
    border-radius: 10px;
    border-color: forestgreen;
    font-size: 15px;
    border-style: solid;
}


.searchbar form button{
    cursor:pointer;
    padding: 5px 12px;
    background-color: rgb(4, 77, 52);
     transition-duration: 0.4s;
     border:0;
     cursor: pointer;
     border-radius: 10px;
     font-size: 16px;
     color: aliceblue;
      
}
.searchbar button{
    padding: 7px 12px;
    background-color: rgb(4, 77, 52);
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    
}
.search form button:hover
{
    background-color: rgb(215, 224, 215);
    border:0;
    
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.description{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 80px 100px;
  line-height: 1.5;

}
.image-gallery{
    padding: 100px 130px;
    overflow: hidden;
    position: relative; 
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  }
    


.image-gallery .images{
    height: 100%;
    width: 100%;
    overflow: hidden; 
    border-radius: 30px;
   
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
 .images img{
    height: 100%;
    width: 100%;
 }

.mid
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.mid img{
    flex: 33.33%;
    overflow: hidden; 
    flex-grow: 1;
    width: 33.33333%;
    display: inline-block;
  
    
   
}

.mid img:hover
{
    
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s ease;
    overflow: hidden;
   

}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    overflow:hidden;
   text-align: center;
}
.servicesGallery{
    cursor: pointer;
    overflow: hidden;
    flex-grow: 1;
    flex: 33,33%;
    width: 33.33333%;
    box-sizing: content-box;
    justify-content: center;
    text-align: center;
}

.servicesGallery img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    transition-duration: .3s;
    justify-content: center;
    text-align: center;
    display:block;
    overflow:hidden;
    cursor:pointer;
}
.servicesGallery h1{
    box-sizing: content-box;
    cursor:pointer;
    justify-content: center;
    transform: translate(-10%, -90%);
    font-size: 1.6em;
    color: white;
    transition-duration: .3s;
    text-align: center;
    display: block;
    text-shadow: 1px 1px 1px grey;
}
.servicesGallery p{
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px rgb(241, 241, 241);
 
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}
.servicesGallery img:hover{
    transform: scale(1.1);
    transition-duration: .3s;
    opacity: .8;

}
.servicesGallery h1:hover{
    color:white;
    display: block;
    transition-duration: .3s;
}
.servicesGallery p:hover{
    color:white;
    display: block;
    transition-duration: .3s;

}
 .image-gallery .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(255, 255, 255, 0);
    cursor:pointer;
    height: 45px;
    width: 45px; 
}

 .image-gallery .right{
    right:0;
    padding-right: 160px;


 }
 .slide span{
    font-size: 40px;
    color: white;
    line-height: 41px;
 }

.slide span:hover{
    color: rgb(4, 77, 52);
}

.search button img{
    height: 25px;
}
@media screen and (max-width: 600px) {
    .menu .search {
        float:none;
    }
    .menu a, .menu input[type=text], .menu .searchbar button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .menu input[type=text] {
        border: 1px solid #ccc;  
      }
    }